h1 {
	font-size: 2em;
	font-family: 'signika';	text-align: center;
	color: #1d71b8;
	font-weight: 600;
	letter-spacing: 0.05em;
}

span {
	color: #3c3c3b;
	font-size: 1.25em;
	font-family: 'signika';
	font-weight: 300;
}

.cbp-so-scroller {
	margin-top: 3em;
	overflow: hidden;
}

.cbp-so-section {
	margin-bottom: 0;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Text styling */
.cbp-so-section h2 {
	font-size: 2em;
	font-family: 'signika';	text-align: center;
	color: white;
	font-weight: 600;
	letter-spacing: 0.05em;
	/*font-weight: 300;
	line-height: 1;*/
}

.cbp-so-section p {
	font-size: 1.4em;
	line-height: 1.5em;
	font-weight: 300;
}

/* Sides */
.cbp-so-side {
	/*position: absolute;*/
	z-index: 100;
	width: 50%;
	height: 100%;
	text-align: center;
	-webkit-backface-visibility: hidden;

	float: left;
	margin: 0;
	padding: 1em 4%;
	overflow: hidden;

	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}


/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: left;
	right: 0;
	}

.a {
	background: url(images/1.svg) top center fixed;
	/*background-size: cover; */
}

.b {
	background: url(images/2.svg) top center fixed;
	/*background-size: cover; */
}

.c {
	background: url(images/3.svg) top center fixed;
	/*background-size: cover; */
}

.d {
	background: url(images/4.svg) top center fixed;
	/*background-size: cover; */
}

.e {
	background: url(images/5.svg) top center fixed;
	/*background-size: cover; */
}

.f {
	background: url(images/6.svg) top center fixed;
	/*background-size: cover; */
}

.g {
	background: url(images/7.svg) top center fixed;
	/*background-size: cover; */
}

.h {
	background: url(images/8.svg) top center fixed;
	/*background-size: cover; */
}

.i {
	background: url(images/9.svg) top center fixed;
	/*background-size: cover; */
}

.j {
	background: url(images/10.svg) top center fixed;
	/*background-size: cover; */
}

.k {
	background: url(images/11.svg) top center fixed;
	/*background-size: cover; */
}

.l {
	background: url(images/12.svg) top center fixed;
	/*background-size: cover; */
}

.m {
	background: url(images/13.svg) top center fixed;
	/*background-size: cover; */
}

.n {
	background: url(images/14.svg) top center fixed;
	/*background-size: cover; */
}

.o {
	background: url(images/15.svg) top center fixed;
	/*background-size: cover; */
}

.p {
	background: url(images/16.svg) top center fixed;
	/*background-size: cover; */
}

.q {
	background: url(images/17.svg) top center fixed;
	/*background-size: cover; */
}

.r {
	background: url(images/18.svg) top center fixed;
	/*background-size: cover; */
}

.s {
	background: url(images/19.svg) top center fixed;
	/*background-size: cover; */
}

.t {
	background: url(images/20.svg) top center fixed;
	/*background-size: cover; */
}

.u {
	background: url(images/21.svg) top center fixed;
	/*background-size: cover; */
}

.v {
	background: url(images/22.svg) top center fixed;
	/*background-size: cover; */
}

.w {
	background: url(images/23.svg) top center fixed;
	/*background-size: cover; */
}

.x {
	background: url(images/24.svg) top center fixed;
	/*background-size: cover; */
}

.y {
	background: url(images/25.svg) top center fixed;
	/*background-size: cover; */
}

.z {
	background: url(images/26.svg) top center fixed;
	/*background-size: cover; */
}

.aa {
	background: url(images/27.svg) top center fixed;
	/*background-size: cover; */
}

.bb {
	background: url(images/28.svg) top center fixed;
	/*background-size: cover; */
}

.cc {
	background: url(images/29.svg) top center fixed;
	/*background-size: cover; */
}

.dd {
	background: url(images/30.svg) top center fixed;
	/*background-size: cover; */
}

.ee {
	background: url(images/31.svg) top center fixed;
	/*background-size: cover; */
}


.cbp-so-side-left {
	left: 0;
	
	
	text-align: left;
}

.cbp-so-side-right img {
	float: left;
}

.cbp-so-side-left img {
	float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
	
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 73.5em) {
	.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}
}

@media screen and (max-width: 41.125em) {
	.cbp-so-side {
		float: none;
		width: 100%;
	}

	.cbp-so-side img {
		max-width: 100%;
	}
}


.un,
.six,
.onze,
.seize,
.vingtetun,
.vingtsix,
.trenteetun {
	background: #D4E7F0;
}

.deux,
.sept,
.douze,
.dixsept,
.vingtdeux,
.vingtsept,
.trentedeux {
	background: #e1f2fa;
}

.trois,
.huit,
.treize,
.dixhuit,
.vingttrois,
.vingthuit {
	background: #d9eef9;
}

.quatre,
.neuf,
.quatorze,
.dixneuf,
.vingtquatre,
.vingtneuf {
	background: #d1ebf8;
}

.cinq,
.dix,
.quinze,
.vingt,
.vingtcinq,
.trente {
	background: #ddf0fb;
}

.un,
.a {
	min-height: 30.6em;
}

.deux,
.b {
	min-height: 36.45em;
}

.trois,
.c {
	min-height: 35.1em;
}

.quatre,
.d {
	min-height: 35.05em;
}

.cinq,
.e {
	min-height: 36.5em;
}

.six,
.f {
	min-height: 33em;
}

.sept,
.g {
	min-height: 39.2em;
}

.huit,
.h {
	min-height: 35.1em;
}

.neuf,
.i {
	min-height: 53em;
}

.dix,
.j {
	min-height: 35.75em;
}

.onze,
.k {
	min-height: 59.2em;
}

.douze,
.l {
	min-height: 43.3em;
}

.treize,
.m {
	min-height: 47.5em;
}

.quatorze,
.n {
	min-height: 41.9em;
}

.quinze,
.o {
	min-height: 47.4em;
}

.seize,
.p {
	min-height: 50.9em;
}

.dixsept,
.q {
	min-height: 33.7em;
}

.dixhuit,
.r {
	min-height: 37.8em;
}

.dixneuf,
.s {
	min-height: 39.85em;
}

.vingt,
.t {
	min-height: 57.1em;
}

.vingtetun,
.u {
	min-height: 55.05em;
}

.vingtdeux,
.v {
	min-height: 38.55em;
}

.vingttrois,
.w {
	min-height: 35.1em;
}

.vingtquatre,
.x {
	min-height: 41.3em;
}

.vingtcinq,
.y {
	min-height: 51.55em;
}

.vingtsix,
.z {
	min-height: 51.6em;
}

.vingtsept,
.aa {
	min-height: 30.6em;
}

.vingthuit,
.bb {
	min-height: 53em;
}

.vingtneuf,
.cc {
	min-height: 39.2em;
}

.trente,
.dd {
	min-height: 30.6em;
}

.trenteetun,
.ee {
	min-height: 29.55em;
}


